// 1. Вложенности
// 2. Переменные
// 3. Импорт других стилей
// 4. Шаблоны
// 5. Миксины

@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:ital@1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

$fs: 20px;

.main-header {
    font-family: "Bebas Neue";
    font-size: 22px;
    color: black;
    background-image: url(https://image.winudf.com/v2/image/Y29tLlBSSVNTSS5XYWxscGFwZXIuQmFja2dyb3VuZC5XaGl0ZUJhY2tncm91bmRXYWxscGFwZXJfc2NyZWVuXzBfMTUyODUwODAxNF8wNjk/screen-0.jpg?fakeurl=1&type=.jpg);
    background-size: cover;
    padding: 15px;
    height: 150px;
    &__logo {
        float: right;
        width: 150px;
        img {
            max-width: 100%;
            max-height: 100%;
            border-radius: 10%;
        }
    }
    &__info {
        float: left;
    }
}

.main {
    margin: auto;
    width: 50%;
    padding: 10px;
    padding: 10px;
}

.content {
    font-family: Lato;
    font-size: 18px;
    background: linear-gradient(to bottom right, white, rgb(224, 218, 220));
    li {
        line-height: 1.5;
    }
}

.footer {
    height: 50px;
    &__logo {
        float: right;
        width: 150px;
        img {
            max-width: 100%;
            max-height: 100%;
        }
    }
    &__info {
        float: left;
    }
}
